<footer>
  <div class="footer-top">
    <div class="container">
      <div class="footer-links">
        <a href="#pg-download" class="no-style">
          <img src="assets/img/logo-black.png" alt="Flash" class="light logo" loading="lazy" />
          <img src="assets/img/logo-white.png" alt="Flash" class="dark logo" loading="lazy" />
        </a>
        <a href="https://getflash.io/app" target="_blank" id="footer-download-link" class="no-style download-btn">
          <img src="assets/img/download-button.png" alt="Get it on Google Play or AppStore"
            style="height: auto; width: 100%; max-width: 200px;" />
        </a>
      </div>
      <div class="legal">
        <div>
          <a href="legal/terms.html">Terms & Conditions</a>
          <a href="legal/privacy.html">Privacy Policy</a>
        </div>
        <p class="powered">Powered by Island Bitcoin.</p>
      </div>
    </div>
    <div class="footer-mid">
      <div class="container">
        <p class="copyright">2021 Flash<span>&trade;</span> All rights reserved.

        </p>
        <p class="copyright"><span>&copy;</span> 2023 Island Bitcoin C.A. de S.V. </p>
      </div>
    </div>
    <div class="footer-btm">
      <div class="container">
        <p>Island Bitcoin C.A. de S.V. entity is regulated by BCR and by the Superintendent of the Financial System of
          El Salvador. For unresolved queries or complaints, please contact atencionalusuario@ssf.gob.sv</p>
      </div>
    </div>
</footer>
